        <footer class="bg-dark text-light py-4 mt-5">
            <div class="container text-center">
                <p>&copy; 2024 Roadside Assistance. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>